In [1]:
diretorio_datasets = "/home/matteus-paula/Downloads/dados_tcc/investimento"
#diretorio_datasets = "/home/caioabreu/workspace/tcc/datasets/investimento"

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

> ## Dados Investimento Municipio:<br>
- Base de Investimentos dos Municipios 
- SIOPE (Sistema de Informações sobre Orçamentos Públicos em Educação)
- https://www.fnde.gov.br/index.php/fnde_sistemas/siope/relatorios/arquivos-dados-analiticos
- Download: ftp://ftp2.fnde.gov.br/dadosabertos/SIOPE/DADOS_CONSOLIDADOS_2017.CSV

In [80]:
investimento_edu = pd.read_csv(f'{diretorio_datasets}/DADOS_CONSOLIDADOS_2017.CSV', 
                            delimiter=";", encoding = "ISO-8859-1", decimal=",")

In [81]:
investimento_edu.head()

,#AN_EXERCICIO,TP_PERIODO,NU_PERIODO,CO_UF,NO_UF,CO_MUNICIPIO_IBGE,NO_MUNICIPIO,NO_ESFERA_ADM,VL_RECEITA_PREVISAO_ATUALIZADA,VL_RECEITA_REALIZADA,...,VL_DESPESA_DOTACAO_ATUALIZADA,VL_DESPESA_EMPENHADA,VL_DESPESA_LIQUIDADA,VL_DESPESA_PAGA,VL_DESPESA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
0,2017,BIMESTRAL,4,15,Para,150160,Bonito,MUNICIPAL,21855960.35,13418750.03,...,27640279.76,16755113.28,16283169.05,15811224.82,0.00,10279591.12,4239992.34,4239992.34,1656287.07,0.00
1,2017,ANUAL,6,22,Piaui,220240,Capitão de Campos,MUNICIPAL,31938895.46,26555288.19,...,31938895.46,25735028.93,25509255.23,25215050.21,34961735.00,13253605.00,12072331.38,12032331.38,11923238.43,12736635.33
2,2017,BIMESTRAL,1,43,Rio Grande do Sul,432143,Terra de Areia,MUNICIPAL,29800000.00,5687782.58,...,29800000.00,5796064.78,2964822.57,1898912.21,0.00,9790000.00,1280127.29,1039614.25,591464.72,0.00
3,2017,BIMESTRAL,5,15,Para,150720,São Domingos do Capim,MUNICIPAL,81494330.23,48976259.36,...,97657299.36,65425598.32,48954929.79,45541558.56,0.00,44097184.70,36783002.76,29538906.12,26981010.76,0.00
4,2017,ANUAL,6,25,Paraiba,251140,Picuí,MUNICIPAL,52786000.00,42127547.21,...,53536000.00,44246054.25,43296215.14,42470647.05,54587846.95,20511700.00,16942221.31,16490231.22,16195594.58,18527066.86

In [82]:
investimento_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33333 entries, 0 to 33332
Data columns (total 21 columns):
#AN_EXERCICIO                     33333 non-null int64
TP_PERIODO                        33333 non-null object
NU_PERIODO                        33333 non-null int64
CO_UF                             33333 non-null int64
NO_UF                             33333 non-null object
CO_MUNICIPIO_IBGE                 33333 non-null object
NO_MUNICIPIO                      33333 non-null object
NO_ESFERA_ADM                     33333 non-null object
VL_RECEITA_PREVISAO_ATUALIZADA    33327 non-null float64
VL_RECEITA_REALIZADA              33327 non-null float64
VL_RECEITA_ORCADA                 33327 non-null float64
VL_DESPESA_DOTACAO_ATUALIZADA     33327 non-null float64
VL_DESPESA_EMPENHADA              33327 non-null float64
VL_DESPESA_LIQUIDADA              33327 non-null float64
VL_DESPESA_PAGA                   33327 non-null float64
VL_DESPESA_ORCADA                 33327 non-null float64
VL_DOTACAO_ATUALIZADA_EDUCACAO    33327 non-null float64
VL_DESPESA_EMPENHADA_EDUCACAO     33327 non-null float64
VL_DESPESA_LIQUIDADA_EDUCACAO     33327 non-null float64
VL_DESPESA_PAGA_EDUCACAO          33327 non-null float64
VL_DESPESA_ORCADA_EDUCACAO        33327 non-null float64
dtypes: float64(13), int64(3), object(5)
memory usage: 5.3+ MB

In [84]:
columns_selected = ['CO_MUNICIPIO_IBGE', 'TP_PERIODO', 'VL_RECEITA_REALIZADA', 
                             'VL_RECEITA_ORCADA', 'VL_DESPESA_EMPENHADA_EDUCACAO', 
                             'VL_DESPESA_LIQUIDADA_EDUCACAO','VL_DESPESA_PAGA_EDUCACAO', 
                             'VL_DESPESA_ORCADA_EDUCACAO']

investimento_edu = investimento_edu[columns_selected]
investimento_edu.head()

,CO_MUNICIPIO_IBGE,TP_PERIODO,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
0,150160,BIMESTRAL,13418750.03,0.00,4239992.34,4239992.34,1656287.07,0.00
1,220240,ANUAL,26555288.19,34961735.00,12072331.38,12032331.38,11923238.43,12736635.33
2,432143,BIMESTRAL,5687782.58,0.00,1280127.29,1039614.25,591464.72,0.00
3,150720,BIMESTRAL,48976259.36,0.00,36783002.76,29538906.12,26981010.76,0.00
4,251140,ANUAL,42127547.21,54587846.95,16942221.31,16490231.22,16195594.58,18527066.86

In [85]:
investimento_edu.describe()

,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
count,3.332700e+04,3.332700e+04,3.332700e+04,3.332700e+04,3.332700e+04,3.332700e+04
mean,1.273712e+08,4.233977e+07,3.010598e+07,2.468005e+07,2.271285e+07,8.073049e+06
std,2.304374e+09,1.561372e+09,4.334172e+08,3.948392e+08,3.647681e+08,2.687989e+08
min,7.071165e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.128020e+06,0.000000e+00,2.192990e+06,1.646001e+06,1.472020e+06,0.000000e+00
50%,1.546758e+07,0.000000e+00,5.155247e+06,4.023481e+06,3.749338e+06,0.000000e+00
75%,3.410378e+07,0.000000e+00,1.308459e+07,1.013033e+07,9.497929e+06,0.000000e+00
max,2.328225e+11,2.459258e+11,4.275588e+10,4.275588e+10,3.954204e+10,4.328335e+10

In [86]:
investimento_edu.isnull().any()

CO_MUNICIPIO_IBGE                False
TP_PERIODO                       False
VL_RECEITA_REALIZADA              True
VL_RECEITA_ORCADA                 True
VL_DESPESA_EMPENHADA_EDUCACAO     True
VL_DESPESA_LIQUIDADA_EDUCACAO     True
VL_DESPESA_PAGA_EDUCACAO          True
VL_DESPESA_ORCADA_EDUCACAO        True
dtype: bool

In [87]:
investimento_edu.dropna(inplace=True)
investimento_edu.reset_index(drop=True, inplace=True)

In [88]:
investimento_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33327 entries, 0 to 33326
Data columns (total 8 columns):
CO_MUNICIPIO_IBGE                33327 non-null object
TP_PERIODO                       33327 non-null object
VL_RECEITA_REALIZADA             33327 non-null float64
VL_RECEITA_ORCADA                33327 non-null float64
VL_DESPESA_EMPENHADA_EDUCACAO    33327 non-null float64
VL_DESPESA_LIQUIDADA_EDUCACAO    33327 non-null float64
VL_DESPESA_PAGA_EDUCACAO         33327 non-null float64
VL_DESPESA_ORCADA_EDUCACAO       33327 non-null float64
dtypes: float64(6), object(2)
memory usage: 2.0+ MB

In [89]:
investimento_edu['CO_MUNICIPIO_IBGE'] = investimento_edu['CO_MUNICIPIO_IBGE'].apply(lambda x: pd.to_numeric(x))

ValueError: Unable to parse string "NÃO SE APLIC" at position 0

In [90]:
investimento_edu.CO_MUNICIPIO_IBGE.str.contains('\D', regex=True).any()

True

In [108]:
investimento_edu_df = investimento_edu[~ investimento_edu['CO_MUNICIPIO_IBGE'] \
                                       .str.contains('\D', regex=True, na=False)]
investimento_edu_df.head()

,CO_MUNICIPIO_IBGE,TP_PERIODO,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
0,150160,BIMESTRAL,13418750.03,0.00,4239992.34,4239992.34,1656287.07,0.00
1,220240,ANUAL,26555288.19,34961735.00,12072331.38,12032331.38,11923238.43,12736635.33
2,432143,BIMESTRAL,5687782.58,0.00,1280127.29,1039614.25,591464.72,0.00
3,150720,BIMESTRAL,48976259.36,0.00,36783002.76,29538906.12,26981010.76,0.00
4,251140,ANUAL,42127547.21,54587846.95,16942221.31,16490231.22,16195594.58,18527066.86

In [98]:
investimento_edu_df.CO_MUNICIPIO_IBGE.str.contains('\D', regex=True).any()

False

#### Convertendo CO_MUNICIPIO_IBGE em dado numerico

In [110]:
investimento_edu_df['CO_MUNICIPIO_IBGE'] = investimento_edu_df['CO_MUNICIPIO_IBGE'] \
                                        .apply(lambda x: pd.to_numeric(x))
investimento_edu_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 33183 entries, 0 to 33182
Data columns (total 8 columns):
CO_MUNICIPIO_IBGE                33183 non-null int64
TP_PERIODO                       33183 non-null object
VL_RECEITA_REALIZADA             33183 non-null float64
VL_RECEITA_ORCADA                33183 non-null float64
VL_DESPESA_EMPENHADA_EDUCACAO    33183 non-null float64
VL_DESPESA_LIQUIDADA_EDUCACAO    33183 non-null float64
VL_DESPESA_PAGA_EDUCACAO         33183 non-null float64
VL_DESPESA_ORCADA_EDUCACAO       33183 non-null float64
dtypes: float64(6), int64(1), object(1)
memory usage: 2.3+ MB

/home/matteus-paula/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [111]:
investimento = investimento_edu_df[investimento_edu_df['TP_PERIODO'] == 'ANUAL']

investimento = investimento[['CO_MUNICIPIO_IBGE', 'VL_RECEITA_REALIZADA', 
                             'VL_RECEITA_ORCADA', 'VL_DESPESA_EMPENHADA_EDUCACAO', 
                             'VL_DESPESA_LIQUIDADA_EDUCACAO','VL_DESPESA_PAGA_EDUCACAO', 
                             'VL_DESPESA_ORCADA_EDUCACAO']]
investimento.head()

,CO_MUNICIPIO_IBGE,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
1,220240,26555288.19,34961735.00,12072331.38,12032331.38,11923238.43,12736635.33
4,251140,42127547.21,54587846.95,16942221.31,16490231.22,16195594.58,18527066.86
6,130040,39923203.89,44384800.00,13045344.02,11645040.21,11643278.01,12901803.40
985,353750,22625221.95,28246286.50,7426978.36,7426978.36,7146965.33,0.00
986,241010,25579472.39,38367382.00,10960327.88,10934213.88,10484333.48,11478850.00

In [112]:
investimento.describe()

,CO_MUNICIPIO_IBGE,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
count,5522.000000,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03
mean,325862.174393,1.013342e+08,1.207311e+08,2.904947e+07,2.820062e+07,2.706785e+07,2.818181e+07
std,98333.984656,8.309736e+08,9.356207e+08,2.030015e+08,1.972421e+08,1.926705e+08,2.012902e+08
min,110001.000000,7.202044e+06,9.650000e+06,1.074230e+06,1.033764e+06,1.023236e+06,0.000000e+00
25%,251302.500000,1.717063e+07,2.216849e+07,4.938110e+06,4.808801e+06,4.688640e+06,4.377399e+06
50%,314705.000000,2.961822e+07,3.614703e+07,9.862051e+06,9.651695e+06,9.302366e+06,9.040388e+06
75%,411977.500000,5.986143e+07,7.211859e+07,2.126852e+07,2.070801e+07,2.006690e+07,2.058006e+07
max,522230.000000,5.176809e+10,5.637056e+10,1.270532e+10,1.228127e+10,1.224450e+10,1.218446e+10

In [20]:
investimento.to_csv(f'{diretorio_datasets}/investimento_municipio.csv', sep=';', encoding='utf-8', index=False)