In [47]:
diretorio_datasets = "/home/matteus-paula/Documents/dados/dados_tcc/investimento"
#diretorio_datasets = "/home/caioabreu/workspace/tcc/datasets/investimento"

In [48]:
import pandas as pd
import matplotlib.pyplot as plt

> ## Dados Investimento Municipio:<br>
- Base de Investimentos dos Municipios 
- SIOPE (Sistema de Informações sobre Orçamentos Públicos em Educação)
- https://www.fnde.gov.br/index.php/fnde_sistemas/siope/relatorios/arquivos-dados-analiticos
- Download: ftp://ftp2.fnde.gov.br/dadosabertos/SIOPE/DADOS_CONSOLIDADOS_2017.CSV

In [49]:
investimento_edu = pd.read_csv(f'{diretorio_datasets}/DADOS_CONSOLIDADOS_2017.CSV', 
                            delimiter=";", encoding = "ISO-8859-1", decimal=",")

/home/matteus-paula/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
investimento_edu.head()

,#AN_EXERCICIO,TP_PERIODO,NU_PERIODO,CO_UF,NO_UF,CO_MUNICIPIO_IBGE,NO_MUNICIPIO,NO_ESFERA_ADM,VL_RECEITA_PREVISAO_ATUALIZADA,VL_RECEITA_REALIZADA,...,VL_DESPESA_DOTACAO_ATUALIZADA,VL_DESPESA_EMPENHADA,VL_DESPESA_LIQUIDADA,VL_DESPESA_PAGA,VL_DESPESA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
0,2017,BIMESTRAL,4,15,Para,150160,Bonito,MUNICIPAL,21855960.35,13418750.03,...,27640279.76,16755113.28,16283169.05,15811224.82,0.00,10279591.12,4239992.34,4239992.34,1656287.07,0.00
1,2017,ANUAL,6,22,Piaui,220240,Capitão de Campos,MUNICIPAL,31938895.46,26555288.19,...,31938895.46,25735028.93,25509255.23,25215050.21,34961735.00,13253605.00,12072331.38,12032331.38,11923238.43,12736635.33
2,2017,BIMESTRAL,1,43,Rio Grande do Sul,432143,Terra de Areia,MUNICIPAL,29800000.00,5687782.58,...,29800000.00,5796064.78,2964822.57,1898912.21,0.00,9790000.00,1280127.29,1039614.25,591464.72,0.00
3,2017,BIMESTRAL,5,15,Para,150720,São Domingos do Capim,MUNICIPAL,81494330.23,48976259.36,...,97657299.36,65425598.32,48954929.79,45541558.56,0.00,44097184.70,36783002.76,29538906.12,26981010.76,0.00
4,2017,ANUAL,6,25,Paraiba,251140,Picuí,MUNICIPAL,52786000.00,42127547.21,...,53536000.00,44246054.25,43296215.14,42470647.05,54587846.95,20511700.00,16942221.31,16490231.22,16195594.58,18527066.86

In [51]:
investimento_edu = investimento_edu[(investimento_edu['NO_ESFERA_ADM'] == 'MUNICIPAL') 
                 & (investimento_edu['TP_PERIODO'] == 'ANUAL')]
investimento_edu.head()

,#AN_EXERCICIO,TP_PERIODO,NU_PERIODO,CO_UF,NO_UF,CO_MUNICIPIO_IBGE,NO_MUNICIPIO,NO_ESFERA_ADM,VL_RECEITA_PREVISAO_ATUALIZADA,VL_RECEITA_REALIZADA,...,VL_DESPESA_DOTACAO_ATUALIZADA,VL_DESPESA_EMPENHADA,VL_DESPESA_LIQUIDADA,VL_DESPESA_PAGA,VL_DESPESA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
1,2017,ANUAL,6,22,Piaui,220240,Capitão de Campos,MUNICIPAL,31938895.46,26555288.19,...,31938895.46,25735028.93,25509255.23,25215050.21,34961735.00,13253605.00,12072331.38,12032331.38,11923238.43,12736635.33
4,2017,ANUAL,6,25,Paraiba,251140,Picuí,MUNICIPAL,52786000.00,42127547.21,...,53536000.00,44246054.25,43296215.14,42470647.05,54587846.95,20511700.00,16942221.31,16490231.22,16195594.58,18527066.86
6,2017,ANUAL,6,13,Amazonas,130040,Barcelos,MUNICIPAL,44371681.26,39923203.89,...,44801112.15,33700147.21,33287922.82,33240822.82,44384800.00,15513809.18,13045344.02,11645040.21,11643278.01,12901803.40
985,2017,ANUAL,6,35,Sao Paulo,353750,Pereiras,MUNICIPAL,27685686.50,22625221.95,...,27685686.50,21338732.04,21299282.93,20068555.75,28246286.50,8269100.00,7426978.36,7426978.36,7146965.33,0.00
986,2017,ANUAL,6,24,Rio Grande do Norte,241010,Poço Branco,MUNICIPAL,35857366.60,25579472.39,...,35852966.60,29631697.03,28885813.15,27278858.98,38367382.00,13080019.84,10960327.88,10934213.88,10484333.48,11478850.00

In [52]:
investimento_edu.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5523 entries, 1 to 33188
Data columns (total 21 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   #AN_EXERCICIO                   5523 non-null   int64
 1   TP_PERIODO                      5523 non-null   object
 2   NU_PERIODO                      5523 non-null   int64
 3   CO_UF                           5523 non-null   int64
 4   NO_UF                           5523 non-null   object
 5   CO_MUNICIPIO_IBGE               5523 non-null   object
 6   NO_MUNICIPIO                    5523 non-null   object
 7   NO_ESFERA_ADM                   5523 non-null   object
 8   VL_RECEITA_PREVISAO_ATUALIZADA  5522 non-null   float64
 9   VL_RECEITA_REALIZADA            5522 non-null   float64
 10  VL_RECEITA_ORCADA               5522 non-null   float64
 11  VL_DESPESA_DOTACAO_ATUALIZADA   5522 non-null   float64
 12  VL_DESPESA_EMPENHADA            5522 non-null   float64
 13  VL_DESPESA_LIQUIDADA            5522 non-null   float64
 14  VL_DESPESA_PAGA                 5522 non-null   float64
 15  VL_DESPESA_ORCADA               5522 non-null   float64
 16  VL_DOTACAO_ATUALIZADA_EDUCACAO  5522 non-null   float64
 17  VL_DESPESA_EMPENHADA_EDUCACAO   5522 non-null   float64
 18  VL_DESPESA_LIQUIDADA_EDUCACAO   5522 non-null   float64
 19  VL_DESPESA_PAGA_EDUCACAO        5522 non-null   float64
 20  VL_DESPESA_ORCADA_EDUCACAO      5522 non-null   float64
dtypes: float64(13), int64(3), object(5)
memory usage: 949.3+ KB

In [53]:
columns_selected = ['CO_MUNICIPIO_IBGE', 'VL_RECEITA_REALIZADA', 
                             'VL_RECEITA_ORCADA', 'VL_DOTACAO_ATUALIZADA_EDUCACAO','VL_DESPESA_EMPENHADA_EDUCACAO', 
                             'VL_DESPESA_LIQUIDADA_EDUCACAO','VL_DESPESA_PAGA_EDUCACAO', 
                             'VL_DESPESA_ORCADA_EDUCACAO']

investimento_edu = investimento_edu[columns_selected]
investimento_edu.head()

,CO_MUNICIPIO_IBGE,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
1,220240,26555288.19,34961735.00,13253605.00,12072331.38,12032331.38,11923238.43,12736635.33
4,251140,42127547.21,54587846.95,20511700.00,16942221.31,16490231.22,16195594.58,18527066.86
6,130040,39923203.89,44384800.00,15513809.18,13045344.02,11645040.21,11643278.01,12901803.40
985,353750,22625221.95,28246286.50,8269100.00,7426978.36,7426978.36,7146965.33,0.00
986,241010,25579472.39,38367382.00,13080019.84,10960327.88,10934213.88,10484333.48,11478850.00

In [54]:
investimento_edu.describe()

,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
count,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03
mean,1.013342e+08,1.207311e+08,3.236584e+07,2.904947e+07,2.820062e+07,2.706785e+07,2.818181e+07
std,8.309736e+08,9.356207e+08,2.143114e+08,2.030015e+08,1.972421e+08,1.926705e+08,2.012902e+08
min,7.202044e+06,9.650000e+06,0.000000e+00,1.074230e+06,1.033764e+06,1.023236e+06,0.000000e+00
25%,1.717063e+07,2.216849e+07,5.944939e+06,4.938110e+06,4.808801e+06,4.688640e+06,4.377399e+06
50%,2.961822e+07,3.614703e+07,1.128967e+07,9.862051e+06,9.651695e+06,9.302366e+06,9.040388e+06
75%,5.986143e+07,7.211859e+07,2.407214e+07,2.126852e+07,2.070801e+07,2.006690e+07,2.058006e+07
max,5.176809e+10,5.637056e+10,1.317478e+10,1.270532e+10,1.228127e+10,1.224450e+10,1.218446e+10

In [55]:
investimento_edu.isnull().any()

CO_MUNICIPIO_IBGE                 False
VL_RECEITA_REALIZADA               True
VL_RECEITA_ORCADA                  True
VL_DOTACAO_ATUALIZADA_EDUCACAO     True
VL_DESPESA_EMPENHADA_EDUCACAO      True
VL_DESPESA_LIQUIDADA_EDUCACAO      True
VL_DESPESA_PAGA_EDUCACAO           True
VL_DESPESA_ORCADA_EDUCACAO         True
dtype: bool

In [56]:
investimento_edu.dropna(inplace=True)
investimento_edu.reset_index(drop=True, inplace=True)

In [57]:
investimento_edu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5522 entries, 0 to 5521
Data columns (total 8 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   CO_MUNICIPIO_IBGE               5522 non-null   object
 1   VL_RECEITA_REALIZADA            5522 non-null   float64
 2   VL_RECEITA_ORCADA               5522 non-null   float64
 3   VL_DOTACAO_ATUALIZADA_EDUCACAO  5522 non-null   float64
 4   VL_DESPESA_EMPENHADA_EDUCACAO   5522 non-null   float64
 5   VL_DESPESA_LIQUIDADA_EDUCACAO   5522 non-null   float64
 6   VL_DESPESA_PAGA_EDUCACAO        5522 non-null   float64
 7   VL_DESPESA_ORCADA_EDUCACAO      5522 non-null   float64
dtypes: float64(7), object(1)
memory usage: 345.2+ KB

In [58]:
investimento_edu['CO_MUNICIPIO_IBGE'] = investimento_edu['CO_MUNICIPIO_IBGE'].apply(lambda x: pd.to_numeric(x))

#### Convertendo CO_MUNICIPIO_IBGE em dado numerico

In [59]:
investimento.describe()

,CO_MUNICIPIO_IBGE,VL_RECEITA_REALIZADA,VL_RECEITA_ORCADA,VL_DOTACAO_ATUALIZADA_EDUCACAO,VL_DESPESA_EMPENHADA_EDUCACAO,VL_DESPESA_LIQUIDADA_EDUCACAO,VL_DESPESA_PAGA_EDUCACAO,VL_DESPESA_ORCADA_EDUCACAO
count,5522.000000,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03,5.522000e+03
mean,325862.174393,1.013342e+08,1.207311e+08,3.236584e+07,2.904947e+07,2.820062e+07,2.706785e+07,2.818181e+07
std,98333.984656,8.309736e+08,9.356207e+08,2.143114e+08,2.030015e+08,1.972421e+08,1.926705e+08,2.012902e+08
min,110001.000000,7.202044e+06,9.650000e+06,0.000000e+00,1.074230e+06,1.033764e+06,1.023236e+06,0.000000e+00
25%,251302.500000,1.717063e+07,2.216849e+07,5.944939e+06,4.938110e+06,4.808801e+06,4.688640e+06,4.377399e+06
50%,314705.000000,2.961822e+07,3.614703e+07,1.128967e+07,9.862051e+06,9.651695e+06,9.302366e+06,9.040388e+06
75%,411977.500000,5.986143e+07,7.211859e+07,2.407214e+07,2.126852e+07,2.070801e+07,2.006690e+07,2.058006e+07
max,522230.000000,5.176809e+10,5.637056e+10,1.317478e+10,1.270532e+10,1.228127e+10,1.224450e+10,1.218446e+10

In [60]:
investimento.to_csv(f'{diretorio_datasets}/investimento_municipio.csv', sep=';', encoding='utf-8', index=False)